<div class="wrapper">
    <h2 class="list-title">Here is the Ram section</h2>
    <a class="list-link" href="/ram/new">Add a new Ram Product</a>

    <main class="main">
    {{#each ram}}
        <article class="article">
            <h3 class="article__title">{{ this.supplier }} {{ this.name }}</h3>
            <section class="article__description">
                <p>Frequency: {{ this.speed }} MHz</p>
                <p>Total Memory: {{ this.amount }} GB</p>
            </section>
            <form class="form-delete" method="POST">
                <input type="hidden" name="ramId" required="true" class="form-delete__input" value="{{ this._id }}">
                <input class="form-delete__submit" type="submit" value="Delete">
                <a class="form-delete__update-link" href="{{ this.updateUrl }}">Update</a>
            </form>
        </article>
    {{/each}}
    </main>
</div>
