

<h2>Here is the CPU section</h2>
<a href="/cpus/new">Add a new CPU</a>

<main class="main">
{{#each cpus}}
    <article class="article">
        <h3 class="article__title">{{ this.supplier }} {{ this.name }}</h3>
        <section class="article__description">
            <span>{{ this.cores }} cores</span>
            <span>{{ this.threads }} threads</span>
            <p>Max Boost {{ this.clockspeed }} Ghz</p>
        </section>
    </article>
{{/each}}
</main>