
<div class="wrapper">
    <h2 class="list-title">CPUs</h2>
    <a class="list-link" href="/cpus/new">Add a New CPU</a>

    <main class="main">
    {{#each cpus}}
        <article class="article">
            <h3 class="article__title">{{ this.supplier }} {{ this.name }}</h3>
            <section class="article__description">
                <span>{{ this.cores }} cores</span>
                <span>{{ this.threads }} threads</span>
                <p>Max Boost {{ this.clockspeed }} Ghz</p>
            </section>
            <form class="form-delete" method="POST">
                <input type="hidden" name="cpuId" required="true" class="form-delete__input" value="{{ this._id }}">
                <input class="form-delete__submit" type="submit" value="Delete">
                <a class="form-delete__update-link" href="{{ this.updateUrl }}">Update</a>
            </form>
        </article>
    {{/each}}
    </main>

</div>
