<div class="wrapper">
    <h2 class="list-title">Here is the Mobo section</h2>
    <a class="list-link" href="/motherboards/new">Add a New Motherboard</a>

    <main class="main">
    {{#each motherboards}}
        <article class="article">
            <h3 class="article__title">{{ this.supplier }} {{ this.name }}</h3>
            <section class="article__description">
                <p>{{ this.platform }} {{ this.chipset }}</p>
            </section>
            <form class="form-delete" method="POST">
                <input type="hidden" name="motherboardId" required="true" class="form-delete__input" value="{{ this._id }}">
                <input class="form-delete__submit" type="submit" value="Delete">
            </form>
        </article>
    {{/each}}
    </main>
    
</div>